*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --bright_orange: hsl(31, 77%, 52%);
    --dark_cyan: hsl(184, 100%, 22%);
    --very_dark_cyan: hsl(179, 100%, 13%);
    --font_color_p:hsla(0, 0%, 100%, 0.75);
    --font_color_h:hsl(0, 0%, 95%);
}
.three{
    font-size: 15px;
    margin:150px 225px 50px ;
    display: flex;
    flex-direction: row;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 35px;
    color: var(--font_color_h);
}
p,button{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: var(--font_color_p);
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}

.sedans,.suv,.luxury{
    padding: 46px;
    width:290px;
}
h1,img,p{
    padding: 15px 0px;
}
p{
    margin-bottom:25%;

}
img{
    padding-top: 0px;
}
.sedans{
    background: var(--bright_orange);
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
}
.suv{
    background: var(--dark_cyan);
}
.luxury{
    background: var(--very_dark_cyan);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sedans button{
    color: var(--bright_orange);
}
.suv button{
    color:var(--dark_cyan);
}
.luxury button{
    color:var(--very_dark_cyan);
}

button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.356);
}
@media screen and (max-width:375px) {
    .three{
        flex-direction: column;
        margin: 20% 10%;
    }
    .sedans{
        border-bottom-left-radius:0px;
        border-top-right-radius: 5px;
    }
    .luxury{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }
    p{
        margin-bottom: 8%;
    }
}
